body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  user-select: none;
}

label{
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
  font-weight: bold;
}

input,textarea{
background-color: aliceblue ;
padding: 0.5rem ;
border-radius: 0.3rem;
margin-bottom: 0.8rem;
font-weight: bold;
}

.footer li{
  margin:0.5rem 0.2rem;
}
.are{
  width:100%;
}
/* .vl {
  border-left: 6px solid green;
  height: 500px;
} */